<h1>log in  . . . </h1>



<%= form_with(scope: :session, url: login_path, local: true) do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "log in" %>
  </p>
<% end %>

<%= link_to 'cancel & return home', root_path %>
