<h1>showing article details . . . </h1>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>
<p><strong>By: </strong><%= link_to @article.user.username, user_path(@article.user) %></p>

<% if logged_in? && @article.user == current_user %>
  <%= link_to 'edit article', edit_article_path %> |
  <%= link_to 'delete article', article_path(@article), method: :delete, data: { confirm: "are you sure you want to delete this article ?"} %> |
<% end %>

<%= link_to 'return to index', articles_path %>