<h1><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 85 %><br>
<%= link_to 'edit your profile', edit_user_path(@user) %>

<h1><%= @user.username %>'s articles  . . . </h1>

<table>

  <thead>
    <tr>
      <th>Creator</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @user.articles.each do |article| %>
      <tr>

        <td><%= article.user.username %></td>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'show', article_path(article) %></td>
        <td><%= link_to 'edit', edit_article_path(article) %></td>
        <td><%= link_to 'delete', article_path(article), method: :delete, data: { confirm: "are you sure you want to delete this article ?"} %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= link_to 'create new article', new_article_path %> |
<%= link_to 'home', root_path %> |
<%= link_to 'logout', logout_path, method: :delete %>
