<h1>edit the category name . . . </h1>

<% if @category.errors.any? %>
  <h2>the following errors prevented the article from being saved</h2>
  <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @category, local: true) do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_area :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'cancel & return to category', category_path(@category) %>